body {
    margin: 0;
    padding: 0;
}

/*-------------------------loader scène-------------------*/

#loader-wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1000;
    margin: auto;
    text-align: center;
}


#loader-wrapper>img {
   
    margin-top:10%;

    
}


/* #loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
} */

/* Loaded */
/* .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  
    -ms-transform: translateX(-100%);  
    transform: translateX(-100%);  
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); 
    -ms-transform: translateX(100%);  
    transform: translateX(100%);  
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out;
            transition: all 0.3s 0.6s ease-out;
} */