body {
    margin: 0;
    padding: 0;
}

/*-------------------------loader scène-------------------*/

#loader-wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1000;
    margin: auto;
    text-align: center;
}


#loader-wrapper>img {
    margin-top: 10%;
    opacity: 0;
    transition: 1s;
}

.container_loader>p {
    color: white;
}

.container_loader{
    display: flex;
    justify-content: center;
}