body {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
     overflow-x: hidden;
   /* overflow-y: hidden; */
}

a {
    color: white;
    text-decoration: none;
}

article {
    margin: auto;
}

/*-------------------------loader scène-------------------*/

#loader-wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1000;
    margin: auto;
    text-align: center;
}


#loader-wrapper>img {
    margin-top: 10%;
    opacity: 0;
    transition: 1s;
}

.container_loader>p {
    color: white;
}

.container_loader {
    display: flex;
    justify-content: center;
}

/*-------------------------nav-bar -------------------*/
header {
    height: 70px;
    width: 100%;

    background-color: rgba(47, 53, 66, 0.5);
    position: absolute;
    box-shadow: 0 2px 2px rgba(47, 53, 66, 0.2);
    z-index: 2;

}

label {
    margin-top: 5px;
    display: inline-block;
    width: 40px;
    background-color: #ff6b81;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    margin-left: 90%;
    z-index: 3;
}

#nav-bar {
    width: 100%;
    height: auto;

}

.line {
    background-color: white;
    height: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
}

input[type="checkbox"] {
    display: none;
    width: 40px;
}

#burger:checked~label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(5px) rotateZ(45deg);
}

#burger:checked~label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
}

#burger:checked~label .middle {
    width: 0;
}

#nav_container {
    margin: auto;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(47, 53, 66);
    padding: 10px;
    transform: translateX(100%);
    transition: 0.4s;
    z-index: 3;
}

#burger:checked~#nav_container {
    transform: translateX(0);
    transition: 0.4s;
}

.li_nav {
    list-style: none;
}

.li_nav>a {
    font-size: 5em;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    width: 100%;
}

#nav_ul {
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------Aside link---------------------*/
#section-aside {
    border: 2px solid white;
    height: 90vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    z-index: 2;
    position: absolute;
    margin-top:80px;
}

#aside-right {
    margin-left: 98%;
}

#aside-right,
#aside-left {
    position: absolute;
    z-index: 4;
    bottom:0;
    height: 70px;
    background-color: #ff6b81;
    padding: 10px;
    border-radius: 5px;
    writing-mode: vertical-lr;
}

/*-------------------------content home---------------------*/

main {
    background-color: #57606f;
    margin-top: 0;
    margin-bottom: 0;
    /* overflow-y: hidden; */
    /*overflow-x: hidden; */

}

.home {

    width: 100%;
    height: auto;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    /* overflow-y: hidden;
    box-sizing: border-box; */
}


.zoom {
    animation: scale 40s linear infinite;
    z-index: 0;
    
}

@keyframes scale {
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

/*-------------------------footer---------------------*/

footer {
    height: 50px;
    background-color: rgba(47, 53, 66);
    position: relative;
    ;
}